@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 153 60% 40%;
    --primary-foreground: 144 10% 9%;
    --secondary: 144 10% 95%;
    --secondary-foreground: 153 60% 40%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 144 10% 95%;
    --accent-foreground: 153 60% 40%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 80%;
    --input: 240 5.9% 80%;
    --ring: 153 60% 40%;
    --chart-1: 153 60% 40%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 153 60% 53%;
    --primary-foreground: 144 10% 9%;
    --secondary: 144 10% 15%;
    --secondary-foreground: 153 60% 53%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 144 10% 12%;
    --accent-foreground: 153 60% 53%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 153 60% 53%;
    --chart-1: 153 60% 53%;
    --chart-2: 173 58% 49%;
    --chart-3: 197 47% 44%;
    --chart-4: 43 84% 56%;
    --chart-5: 27 97% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
